.card{
    padding: 1rem;
}

img {
    height: 55%;
}

.colors {
    display: flex;
    gap: 0.3em;

    .color {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid;
    }
}

.basic {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.just {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 50%;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.9rem;
}