/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}


.cart-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-error);
  color: #ff0000;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.9rem;
}

.navbar {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}